<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Fundamentals -->
  <package id="7zip" version="22.1"/>
  <package id="keeweb" version="1.18.6"/>
  <package id="powershell-core" version="7.3.4"/>
  <package id="terraform" version="1.4.6"/>
  <package id="git" version="2.40.1"/>
  <package id="vscode"/>
  <package id="gource" version="0.53"/>
  <package id="logstalgia" version="1.0.7"/>
  <package id="vivaldi"/>
  <package id="python3" version="3.10.11"/>
  <!-- Documentation -->
  <package id="pandoc" version="3.1.2"/>
  <package id="ffmpeg" version="6.0"/>
  <!-- AWS -->
  <package id="awscli" version="2.11.16"/>
  <package id="awssamcli" version="1.82.0"/>
  <package id="awscli-session-manager" version="1.2.463.0"/>
  <package id="jq" version="1.6"/>
  <package id="yq" version="4.28.1"/>
  <!-- Azure -->
  <package id="azure-cli" version="2.48.1"/>
  <package id="microsoftazurestorageexplorer" version="1.29.0"/>
  <package id="azure-data-studio-sql-server-admin-pack" version="0.0.1"/>
  <!-- Windows Subsystem for Linux 2-->
  <!-- <package id="wsl2"/> -->
  <!-- <package id="wsl-ubuntu-2204"/> -->
  <!-- Container -->
  <!-- <package id="docker-desktop" version="4.24.1"/> -->
  <!-- Kubernetes -->
  <package id="openlens"/>
  <package id="kubernetes-cli"/>
  <package id="kubelogin"/>
  <package id="azure-kubelogin"/>
  <package id="kubernetes-helm"/>
  <package id="nodejs" version="18.18.0"/>
  <!-- PowerUser -->
  <package id="sysinternals"/>
  <package id="hwinfo"/>
  <!-- <package id="processhacker"/> -->
  <package id="mambaforge"/>
  <package id="obsidian"/>
  <package id="sharex"/>
  <package id="plantuml"/>
  <package id="microsoft-windows-terminal"/>
  <package id="bzip2" version="1.0.5"/>
</packages>
